/* 1. Tüm sayfanın arka planını açık mavi yap */
body {
    background-color: #c60d44 !important;
}

h1, h2, h3 {
    color: #a77acd !important;
}


/* Navbar'ın arka planını değiştir */
.navbar {
    background-color: #ee8fd1 !important; 
    border-bottom: 3px solid #c77dff;     /* Altına bir mor çizgi */
}

/*  Menü linklerini*/
.navbar-brand, 
.nav-link {
    color: #e9328a !important; 
    font-weight: 500;      
}

/*  Linklerin üzerine gelince (hover) efekti */
.nav-link:hover {
    color: #ffffff !important;            /* Üzerine gelince beyaz olsun */
    text-shadow: 0 0 5px #c77dff;         /* Hafif parlama efekti */
}