
body.tasarım{
    background-color: #c66b86 !important;
}


.hobi-kutu {
    margin-left: auto;
    margin-right: 0;
    background-color: #ffffff;
    border-right: 5px solid #8d4747; 
}


.profil-kutu {
    margin-right: auto;
    margin-left: 0;
    text-align: left; 
}

.profil-img {
    background-color: #ffffff;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit:scale-down;
    border: 6px solid white;
}

.hobi-icerik p {
    text-align: center;
    margin-bottom: 15px;
}
h1, h2, h3 {
    color: #070707 !important;
}



.navbar {
    background-color: #ffffff !important; 
    border-bottom: 3px solid #8d4747;   
}

/*  Menü linklerini*/
.navbar-brand, 
.nav-link {
    color: #112c4c !important; 
    font-weight: 500;      
}

.nav-link:hover {
    color: #ffffff !important;            /* Üzerine gelince beyaz olsun */
    text-shadow: 0 0 5px #c77dff;         /* Hafif parlama efekti */
}
body.sehir{
    background-color:#da9ac6;
}

/* Özgeçmiş (CV) Sayfası Özel Stilleri */
body.cv{

    
    /* Resim yüklenmezse diye yedek bir renk */
    background-color: #da9ac6 !important;

}

.baslik {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    color: #6e3a10; 
}

.baslik::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 220px; 
    height: 3px; 
    background-color: #0b78ab; 
}

.bilgi-kutusu {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}

.text-center-custom {
    text-align: center;
}